.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin: 0;
  padding: 0 16px;
  border: none;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #50b6ab;
  text-align: center;
  letter-spacing: .5px;
  border-radius: 2px;
}

button:hover {
  background-color: #7dc3bc;
}

.main-container {
  margin-left: 55px;
  transition: 0.5s;
}

.main-container.change {
  margin-left: 220px;
}

@media only screen and (max-width: 600px) {
  .main-container.change {
    margin-left: 55px;
  }
}
