.task__name {
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  height: auto;
  padding: 5px;
  border-bottom: 1px solid #546e7a;
  box-shadow: 0px 4px 10px -8px black;
}
