.side-menu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.side-menu a {
  padding: 5px 5px 5px 20px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.side-menu a:hover {
  color: #f1f1f1;
}


.hamburger {
  display: inline-block;
  cursor: pointer;
}

.hamburger__bar1,
.hamburger__bar2,
.hamburger__bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .hamburger__bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.change .hamburger__bar2 {opacity: 0;}

.change .hamburger__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
