input {
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #546e7a;
}

.task__time-input {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  width: 100px;
  text-align: center;
}

input[type="time"]::-webkit-outer-spin-button,
input[type="time"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

input:focus,
.task__name:focus {
  outline: none;
  border-bottom: 2px solid #2ea790;
}

.taskInput {
  display: none;
}/* TODO: dele this */

/* textarea {
  overflow: hidden;
  padding: 0;
  outline: none;
  resize: none;
  height: 20px;
  width: 380px;
  border: none;
  border-bottom: 1px solid #546e7a;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",  "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0 10px;
} */

.task__name {
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  resize: none;
  font-size: 16px;
  line-height: 18px;
  overflow: hidden;
  height: auto;
  padding: 5px;
  margin: 0 10px;
  border-bottom: 1px solid #546e7a;
  box-shadow: 0px 4px 4px -6px black;
}

.task {
  margin-bottom: 10px;
  padding: 5px;
  width: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #fff;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.task__time-button,
.task__delete-button {
  margin: 0 5px;
  background-color: inherit;
  border: none;
  font-size: 20px;
  padding: 0;
  width: 25px;
  height: 25px;
  color: #000;
}

.task__time-button:hover,
.task__delete-button:hover {
  color: #ccc;
  background-color: inherit;
}

.task__delete-button {
  margin-left: 20px;
}

.task__period {
  width: 100px;
  cursor: pointer;
}

.task__time-button {

}

@media only screen and (max-width: 400px) {
  .task__time-input {
    width: 65px;
  }
}

@media only screen and (max-width: 600px) {
  .task {
    width: 100%;
    flex-wrap: wrap;
    font-size: 20px;
  }

  .task__name {
    width: 100%;
    margin: 10px 0;
  }

  .task__delete-button {
    margin-left: auto;
    background-color: inherit;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }

  .task__time-input {
    font-size: 20px;
    line-height: 20px;
    height: 30px;
  }

  .task__time-button {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}
